.quizWrapper{
  max-width: 600px;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--chakra-spacing-2);
}

.swiperWrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}