.highlight{
  background-color: rgb(195, 235, 255);
}

.podium{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--chakra-spacing-5) 0;
  border-radius: 10px;
  font-weight: var(--chakra-font-weights-bold);
  text-shadow: 1px 1px 2px white, 0 0 1px white, 0 0 0.2px white;
}

.leaderboardRecord{
  display: flex;
  padding: var(--chakra-spacing-2);
  border-radius: var(--chakra-radii-soft);
  border: 1px solid #444;
  margin: var(--chakra-spacing-3) 0;
  font-size: var(--chakra-font-sizes-md);
}

.firstPlace{
  background-color: rgba(255, 217, 0, 0.2);
  box-shadow: 5px 0px 30px rgba(255, 217, 0, 0.7) inset, -5px 0px 30px rgba(255, 217, 0, 0.7) inset;
  order: 1;
  padding: var(--chakra-spacing-9) 0;
  width: 250px;
}

.secondPlace{
  background-color: rgba(192, 192, 192, 0.2);
  box-shadow: 5px 0px 30px rgba(192, 192, 192, 0.7) inset, -5px 0px 30px rgba(192, 192, 192, 0.7) inset;
  order: 0;
}

.thirdPlace{
  background-color: rgba(205, 128, 50, 0.2);
  box-shadow: 5px 0px 30px rgba(205, 128, 50, 0.7) inset, -5px 0px 30px rgba(205, 128, 50, 0.7) inset;
  order: 2;
}

.secondPlace, .thirdPlace{
  width: 200px;
}

.flexRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  gap: var(--chakra-spacing-4)
}


@media(max-width: 768px){
  .leaderboardWrapper{
    flex: 1;
  }

  .podium{
    padding: var(--chakra-spacing-2);
  }

  .secondPlace, .firstPlace, .thirdPlace{
    width: auto;
  }
}

@media(max-width: 500px){
  .flexRow{
    flex-direction: column;
    align-items: stretch;
  }
  .firstPlace{
    order: 0;
  }
  .secondPlace{
    order: 1;
  }
  .podium{
    flex-direction: row;
  }
}